.beginning{
    padding:10px
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}

h1 {
  font-size: 6vw;
  color: white;
  text-align: center;
}

.content div{
    color: white
}


.full_page{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://assets.nicepagecdn.com/ccf99d2e/5519109/images/1642972755_25-phonoteka-org-p-turizm-fon-25.jpg");
    position: relative;
    overflow-x: hidden;

}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid black;
    font-size: 22px;
  }
  
  td {
    border: 1px solid black;
    padding: 0; 
    width: 270px;
    height: 80px;
    text-align: center;
    line-height: 20px; 
  }
  
  .yellow {
    color: #111111;
    background-color: #f1c50e;
  }
  
  .red {
    color: #ffffff;
    background-color: #db545a;
  }
  
  .blue {
    color: #ffffff;
    background-color: #2cccc4;
  }
  
  .white {
    background-color: white;
  }

  .black{
    color: white;
    background-color: #262222;
    padding:5px
  }

  .yellow-text-price{
    color: #f1c50e;
    font-size: 35px;
    font-weight: bold;
  }

  .red-text-price{
    color: #db545a;
    font-size: 35px;
    font-weight: bold;
  }
  
  .blue-text-price{
    color: #2cccc4;
    font-size: 35px;
    font-weight: bold;
  }

  .blue-check {
    color: #2cccc4;
  }

  .white-checl{
    color: white
  }

  .buy-button {
    background-color: #db545a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .buy-button:hover {
    background-color: #0056b3;
  }

  .register-button {
    /* position: absolute; */
    margin-left: 35%;
    margin-right:35%;
    /* bottom: 5%; */
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }

  @media(max-width:1400px){
    .register-button {
        margin-left:30%;
    }
  }


  /* info-containers.component.css */
.info-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:10%;
    margin-right:10%;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    max-width: 100px;
  }
  
  @media screen and (min-width: 768px) {
    .info-container {
      max-width: none;
    }

  }

  @media screen and (max-width: 767px) {
    .content {
      margin: 0 5%; 
    }

    .register-button {
      margin: 10px; 
    }
  }

  
.counter-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .counter {
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    margin: 5px;
    box-sizing: border-box;
  }
  
  .description {
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    flex: 1;
    margin: 5px;
    box-sizing: border-box;
  }
  
  @media(max-width:600px){
    .register-button{
        margin-right:0%;
        margin-left:0%;
    }
  }